<div id="contenedor-vermas">

    <section>
        <div class="superior">
            <div class="routes">
                <p><a [routerLink]="['/home']" title="Home">Inicio </a> <i class="fas fa-chevron-right"></i><a href="">
                        Categoría </a> <i class="fas fa-chevron-right"></i> <a href="">
                        {{infoProducto.subcategoria?.nombre}} </a> <i class="fas fa-chevron-right"></i> <a
                        href="">{{infoProducto?.nombre}} </a></p>
            </div>
            <div class="iconos-detalle-producto">
                <a title="Agregar a Favoritos"> <i class=" iconos far fa-heart"></i></a>
                <a title="Copiá este link!"> <i class="iconos fas fa-link"></i></a>
            </div>
        </div>
        <article class="contenedor-uno">
            <div id="izquierda" class="izquierda">
                <div id="img-sec" class="img-sec">
                    <div id="img-uno">
                        <img src="{{infoProducto?.foto.imageUrl}}" alt="">
                    </div>
                    <!-- <div id="img-dos">

                    </div>
                    <div id="img-tres"></div>
                    <div id="img-cuatro"></div>
                    <div id="img-cinco"></div>
                    <div id="img-seis"></div> -->
                </div>
                <div id="img-ppal" class="img-ppal">
                    <img src="{{infoProducto?.foto.imageUrl}}" alt="">
                </div>
            </div>
            <div id="derecha">
                <div id="caja-titulo">
                    <h2>{{infoProducto?.nombre}}</h2>                     
                </div>

                <div id="caja-precio">
                    <div >
                        <!-- contenedor del precio sku -->
                        <div class="precio" *ngIf="!mostrarPrecioProducto()">
                             <h3 *ngIf="!ofertaSku" class="pcio-sin-oferta">${{skuAEnviar?.precio | number: '.2'}}</h3>
                            <h3 *ngIf="ofertaSku" class="pcio-sin-oferta">${{skuAEnviar?.promocion.precioOferta | number: '.2'}}</h3>
                            <div *ngIf="ofertaSku" class="row-oferta">
                                <span>${{skuAEnviar?.precio | number: '.2'}} </span>
                                <p class="off ">{{skuAEnviar.promocion?.porcentaje * 100 | number: '2.0-0'}}% 0FF</p>
                            </div> 
                        </div>
                        
                    </div>
                    <i class="fas fa-medal" *ngIf="destacado"></i>
                </div>

                <br>
                <div id="caja-props">

                    <!-- <select id="color" *ngFor="let propiedad of propiedadesFiltradas;let i=index " class="select"
                        (change)="valoresSiguienteCombobox(i)">
                        <option hidden selected value="">{{propiedad.nombre}}</option>
                        <option [value]="valor.valor" *ngFor="let valor of propiedad.valores">{{valor.valor}}</option>
                    </select> -->
                    <p>Bodega: <span>Jorge Mayo</span> </p>
                    <p>Cosecha: <span>2014</span> </p>
                    <p *ngIf="infoProducto?.subcategoria.id==1 || infoProducto?.subcategoria.id==2 || infoProducto?.subcategoria.id==3">Varietales: <span>{{skuAEnviar?.variedades}}</span> </p>
                    <p *ngIf="infoProducto?.subcategoria.id==4 || infoProducto?.subcategoria.id==5 || infoProducto?.subcategoria.id==6 ">Dulzor: <span>{{skuAEnviar?.variedades}}</span> </p>

                    <p>Estuche: <span>No</span> </p>
                    <p>Temperatura ideal: <span>10-12 °C</span> </p>
                </div>
                <div id="descripcion-producto">
                    <h3>Descripción </h3>
                   <p>{{infoProducto.descripcion}}</p> 
                </div>    

            
                <div id="caja-carrito">
                    <div class="color-quantity">
                        <div class="modify-quantity">
                            <i class="fas fa-minus-circle"></i>
                            <span class="item-quantity"> 1</span>
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </div>
                    <hr>
                    <p>Costo de envío se informará al realizar la operación.</p>
                    <button mat-button [disabled]="!skuAEnviar" (click)="agregarCarrito(skuAEnviar)" class="btn"  id="btn-carrito">Agregar al
                        Carrito</button>
                    <button mat-button [disabled]="!skuAEnviar" (click)="agregarCarrito(skuAEnviar)" class="btn"  id="btn-comprar">Comprar
                        ahora</button>

                </div>

            </div>
        </article>
        <article class="contenedor-dos">
            <div id="datos">
                <p>Volumen: 750 mL </p>
                <p>Alcohol: 12,30% v/v</p>
              

                <p>Disponible: <span *ngIf="stock">Si</span> <span *ngIf="!stock">No</span> </p>

            </div>
            <div id="ficha-tecnica">
                <h3>Chardonnay Reserva </h3>
                <!-- <p>{{infoProducto.descripcion}}</p> -->
                <p>Cosecha: <Span>2016</Span></p>
                <p *ngIf="infoProducto?.subcategoria.id==1 || infoProducto?.subcategoria.id==2 || infoProducto?.subcategoria.id==3">Varietales: <span>{{skuAEnviar?.variedades}}</span></p>
                <p *ngIf="infoProducto?.subcategoria.id==4 || infoProducto?.subcategoria.id==5 || infoProducto?.subcategoria.id==6">Dulzor: <span>{{skuAEnviar?.variedades}}</span></p>
                <p>Viñedos: <span>Chardonnay: 30% Finca Potrero de Garay-(Alt. 850 msnm-Valle de Calamuchita), 65% Finca de Colonia Caroya (Alt. 550 msnm)</span></p>
                <p>Viognier: <span>5% Finca Las Corzuelas-Quilino (Alt. 370 msnm-Norte de Córdoba). Conducción espaldero alto, Producción: 6 Ton/ha.</span></p>
                <p>Metodo de cosecha: <span>Manual en cajones de 18/20 Kgs.</span></p>
                <p>Vinificación: <span>Selección de racimos, despalillado, prensado neumático, enfriado y desborre previo. Fermentación en tanque de acero inoxidable con levaduras seleccionadas, temperatura fermentación entre 14-15ºC durante 25 días. Descube a barricas de roble francés y americano.</span></p>
                <p>Crianza: <span>Durante 8 meses en barricas de 225 Lts de primer uso.</span></p>
                <p>Notas de cata: <span>Color amarillo verdoso intenso con reflejos dorados. Aromas a frutos tropicales maduros acomplejadas con las notas aportadas por su crianza en roble. En boca es fresco, frutado, untuoso y de gran persistencia.</span></p>
                <h4>Datos analíticos:</h4>
                <div class="datos-analiticos">
                    
                    <p>Alcohol: <span>12.30%</span></p>
                    <p>Azucar Residual: 3.5 g/L</p>
                    <p>PH: <span>3.4</span></p>
                    <p>Ac.Total: <span>6.00 g/L</span> </p>
                    <p>Producción: <span>2000 botellas</span></p>
                    <p>Servicio: <span>Recomendamos servir entre 10-12°C de temperatura</span></p>
                </div>
                <div class="profesionales">
                    <p>ENÓLOGO: Gabriel Campana</p>
                    <p>  ING. AGR.: Daniela Mansilla</p>
                </div>
                
            </div>  
        </article>
        <article class="contenedor-tres" id="contenedor-tres">
            <p id="titulo-a">¿Tienes alguna pregunta?</p>

            <textarea name="pregunta" id="pregunta" cols="30" rows="10"
                placeholder="Escribe tu mensaje aquí..."></textarea>
            <div id="contenedorCartel">
                <p id="cartel">Estamos para despejar todas tus dudas, dejános tu consulta</p>
                <button mat-button type="submit" id="enviarMsg">
                    Enviar
                </button>
            </div>


        </article>
    </section>
</div>