input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

* {
  background-color: #fff;
}

.contenedor {
  width: 100%;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.contenedor .form1 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor .form1 .container-white .fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contenedor .form1 .container-white .fila .name #name {
  margin-left: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
  width: 400px;
  padding-right: 3px;
}

.contenedor .form1 .container-white .fila .name #name:focus {
  border-bottom: 2px solid #2779cd;
}

.contenedor .form1 .container-white .fila .name #name.is-invalid {
  border-bottom: 1px solid red;
}

.contenedor .form1 .container-white .fila .brand {
  margin-left: 60px;
}

.contenedor .form1 .container-white .fila .brand .inputBrand {
  margin-left: 10px;
  padding: 0;
}

.contenedor .form1 .container-white .fila .brand #brand {
  border: none;
  outline: none;
  font-size: 14px;
  padding-right: 3px;
  padding-left: 0;
}

.contenedor .form1 .container-white .fila .brand .fa-plus-square {
  color: #2779cd;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.contenedor .form1 .container-white .fila .brand .fa-plus-square:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contenedor .form1 .container-white .fila .text-rojo {
  font-family: "Open Sans", sans-serif;
  color: red;
  text-align: right;
  margin-bottom: 0;
  font-size: 12px;
}

.contenedor .form1 .container-white .fila .input-msj #categories, .contenedor .form1 .container-white .fila .input-msj #subcategories, .contenedor .form1 .container-white .fila .input-msj #marca {
  font-size: 15px;
  border: none;
  outline: none;
  width: 140px;
  padding-left: 5px;
  border-bottom: 1px solid grey;
}

.contenedor .form1 .container-white .fila .input-msj #categories:focus, .contenedor .form1 .container-white .fila .input-msj #subcategories:focus, .contenedor .form1 .container-white .fila .input-msj #marca:focus {
  border-bottom: 2px solid #2779cd;
}

.contenedor .form1 .container-white .fila .input-msj #categories.is-invalid, .contenedor .form1 .container-white .fila .input-msj #subcategories.is-invalid, .contenedor .form1 .container-white .fila .input-msj #marca.is-invalid {
  border-bottom: 1px solid red;
}

.contenedor .form1 .container-white .fila .input-msj #subcategories {
  margin-left: 90px;
  display: block;
}

.contenedor .form1 .container-white .fila .input-msj #marca {
  margin-left: 90px;
}

.contenedor .form1 .container-white .fila #unidadMedida {
  font-size: 15px;
  border: none;
  outline: none;
  width: 160px;
  padding-left: 5px;
  border-bottom: 1px solid grey;
}

.contenedor .form1 .container-white .fila #unidadMedida:focus {
  border-bottom: 2px solid #2779cd;
}

.contenedor .form1 .container-white .fila #unidadMedida.is-invalid {
  border-bottom: 1px solid red;
}

.contenedor .form1 .container-white .fila #property {
  font-size: 15px;
  border: none;
  outline: none;
  width: 110px;
  padding-left: 5px;
  border-bottom: 1px solid grey;
}

.contenedor .form1 .container-white .fila #property:focus {
  border-bottom: 2px solid #2779cd;
}

.contenedor .form1 .container-white .fila .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 60px;
}

.contenedor .form1 .container-white .fila .price-container #euro {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-left: 10px;
}

.contenedor .form1 .container-white .fila .price-container #price {
  border: none;
  outline: none;
  font-size: 14px;
  padding-right: 3px;
  padding-left: 3px;
  width: 90px;
  border-bottom: 1px solid grey;
}

.contenedor .form1 .container-white .fila .price-container #price:focus {
  border-bottom: 2px solid #2779cd;
}

.contenedor .form1 .container-white .fila .price-container #price.is-invalid {
  border-bottom: 1px solid red;
}

.contenedor .form1 .container-white .fila .check-oferta {
  margin-left: 50px;
}

.contenedor .form1 .container-white .fila .availability-container {
  margin-left: 60px;
}

.contenedor .form1 .container-white .text-rojo {
  font-family: "Open Sans", sans-serif;
  color: red;
  text-align: left;
  margin-bottom: 0;
  font-size: 14px;
}

.contenedor .form1 .container-white .subandcat {
  margin-top: -20px;
}

.contenedor .form1 .container-white .elegir-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: -30px;
  margin-bottom: 30px;
}

.contenedor .form1 .container-white .elegir-props .contenido .leyenda {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: block;
}

.contenedor .form1 .container-white .elegir-props .contenido .aclaracion {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  display: block;
  font-style: italic;
  color: grey;
  margin-top: -12px;
}

.contenedor .form1 .container-white .elegir-props .contenido .propiedad-check {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #2779cd;
  margin-right: 25px;
  display: block;
  margin-top: 10px;
}

.contenedor .form1 .container-white .elegir-props .contenido .propiedad-check #propiedad {
  margin-right: 5px;
}

.contenedor .form1 .container-white .elegir-props .contenido .btn-add-property {
  border: none;
}

.contenedor .form1 .container-white .elegir-props .contenido .btn-add-property #add {
  position: absolute;
  font-size: 14px;
  right: 0px;
  top: 0px;
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 4px 13px;
  border-radius: 7px;
  background-color: #90cafa71;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #c3c5c5;
          box-shadow: 1px 1px 1px #c3c5c5;
}

.contenedor .form1 .container-white .elegir-props .contenido .btn-add-property #add .fa-plus-square {
  color: #2779cd;
  margin-left: 7px;
  font-size: 17px;
}

.contenedor .form1 .container-white .elegir-props .contenido .btn-add-property #add:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.contenedor .form1 .container-white .textarea {
  width: 103%;
  font-family: "Open Sans", sans-serif;
  margin-left: -1vw;
  margin-bottom: 25px;
  margin-top: -15px;
}

.contenedor .form1 .container-white .textarea #descripcion {
  resize: none;
  outline: none;
  width: 100%;
  padding: 5px 10px;
}

.contenedor .form-promo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor .form-promo .botones-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  width: 30vw;
  -ms-flex-item-align: center;
      align-self: center;
}

.contenedor .form-promo .check-sku #combinations {
  margin-right: 20px;
}

.form-add-brand {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form-add-brand .marca-campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.form-add-brand .marca-campo .marca {
  font-size: 15px;
}

.form-add-brand .marca-campo #marca {
  margin-top: -10px;
  margin-left: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-size: 13px;
  width: 200px;
  padding-right: 3px;
}

.form-add-brand .marca-campo #marca:focus {
  border-bottom: 2px solid #2779cd;
}

.form-add-brand .btn {
  margin-left: 70%;
  background-color: #223e66;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: 0px;
  padding: 3px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  border-radius: 0px;
}

.form-add-brand .btn:hover {
  background-color: #1f4e84;
}

#listo {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #575353;
  display: none;
}

.modalTitle {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: -20px;
}

.close:focus {
  outline: none;
}

.btn-add-brand {
  border: none;
  background-color: #fff;
}

.btn-add-brand .fa-plus-square {
  color: #2779cd;
  margin-right: 4px;
  font-size: 17px;
}

.btn-add-brand:hover > i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-add-brand:focus {
  outline: none;
}

.btn-cont {
  background-color: rgba(168, 164, 164, 0.733);
  color: black;
  font-family: "Open Sans", sans-serif;
  width: 20%;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-cont:hover {
  background-color: #1f4e84;
  cursor: pointer;
}

.btn-cont:focus {
  outline: none;
}

#btn-end {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-left: 83%;
  font-size: 14px;
  background-color: #223e66;
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 17%;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: -15px;
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
}

#btn-end:hover {
  background-color: #1f4e84;
  cursor: pointer;
}

#btn-end:focus {
  outline: none;
}
/*# sourceMappingURL=step1.component.css.map */