$fte-ppal: 'Poppins',
sans-serif;
$fte-sec: 'Open Sans',
sans-serif;
$color-ppal:#fff;
$color-sec: rgb(87, 83, 83);
$color-ter: rgb(172, 165, 165);
$color-menues: rgb(243, 236, 236);
$color-wf1:#223e66;
$color-wf2:#1f4e84;
$color-wf3:#2779cd;
section {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px auto;
    height: fit-content;
    .container-favorites {
        display: flex;
        justify-content: center;
        background: linear-gradient(to bottom, $color-menues, white);
        .frame {
            width: 85%;
            margin-top: 30px;
            padding-bottom: 70px;
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                h2 {
                    font-family: $fte-ppal;
                    font-size: 22px;
                    color: $color-sec;
                }
            }
            .favorites-list {
                ul {
                    width: 100%;
                   
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
section{
    grid-template-columns: 1fr;
    margin-top: 0px;
    padding-top: 0px;
}
app-user-sidebar{
    display: none;
}
}
@media screen and (max-width:730px) {
    section{
        .container-favorites {
            .frame{
                width: 100%;
                .title{
                    h2{
                        padding-left: 15px;
                    }
                }
                .favorites-list {
                    ul {
                        width: 100%;
                        display: flex ;
                        flex-direction: column ;
                        justify-content: center ;
                        align-items: center ;
                       
                    }
                }
            }
        }

    }
}
@media screen and (min-width:630px) and (max-width:730px){
  
    ul{
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }
}
