

<body>
    
    <div class="container-fluid ">
        <div class="row">
            <div class="col text-center">
                <img src="../../../../assets/imagenes/wf.png" alt="" class="img-fluid mt-5" style="height: 80px; width: auto;">
            </div>
        </div>
        <div class="row"></div>
         <div class="row">
             <div class=" col-12 col-md-8 offset-md-2 mt-5">
                <div class="jumbotron jumbo pt-2 ">
                    <div class="row">
                        <div class="col-12 col-md-6 text-center mt-5 mt-md-5">
                            <div style="font-size: 20px; color: #1f4e84;">
                                <i class="far fa-grin-beam-sweat fa-10x mt-md-4"></i>
                            </div>
                            
                            <!-- <img src="../../../../assets/imagenes/404.png" alt="" class="img-fluid mt-5" style="height: 300px; width: auto;"> -->
                        </div>
                        <div class="col-12 col-md-6 text-center mt-md-5">
                            
                            <p class="notFound" style="font-family:'Anton', sans-serif;;">oops!</p>
                            <p class="texto">Error 404</p>
                            <p class="texto">¡Lo sentimos! La página a la que desea navegar no existe.</p>
                            <button class="btn btn-primary" style="background-color: #1f4e84; border: none;">
                                Home
                            </button>
                        </div>
                    </div>
                </div>
             </div>
         </div>   
        
        
    </div>
    
</body>




